.btn-whatsapp {
    display:block;
    width:40px;
    height:60px;
    color:#fff;
    position: fixed;
    right:25px;
    bottom:30px;
    border-radius:50%;
    line-height:80px;
    text-align:center;
    z-index:999;
}

.img-whatsapp{
    width: 55px;
    height: 55px;
}