#body {
  overflow-x: hidden;
}
#td_table {
  border: none !important;
}
#header {
  letter-spacing: 5px !important;
  font-size: 48px !important;
  color: white !important;
  margin-top: -22% !important;
  padding-top: 100px !important;
}
#btn1 {
  margin-top: -50px;
  border-radius: 12px;
  font-size: 15px;
  padding: 20px 30px;
  text-decoration: none;
}
#btn2 {
  border-radius: 12px;
  font-size: 15px;
  padding: 20px 30px;
  text-decoration: none;
}
#btn3 {
  border-radius: 12px;
  font-size: 15px;
  padding: 20px 30px;
  text-decoration: none;
}
.hvr-bubble-float-top {
  margin-top: 30px;
  border-radius: 12px;
  font-size: 15px;
  padding: 20px 30px;
  text-decoration: none;
}
#ascroll {
  font-size: 20px;
  color: white;
  margin-top: 10%;
}
#scroll {
  width: 12% !important;
  z-index: 1 !important;
}
#div1 {
  display: flex;
  flex-direction: column;
}
#div2 {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}
#logomenu {
  padding: 2%;
}
.history {
  z-index: 1 !important;
}
#imgwood {
  background: #130d08 repeat !important;
}
#imghistoria {
  background-image: url(../images/peleteria/1.jpeg);
  background-position: center;
}
#slides {
  text-align: center;
}
.services {
  background-image: url(../images/bg/uno.png);
  background-position: 340vw 180vh;
}
#h2services {
  color: white !important;
}
#contser {
  padding-bottom: 3% !important;
}
#rowcli {
  margin-top: -5% !important;
  max-width: 70% !important;
  max-height: 25% !important;
  overflow: visible;
}
#itemcli {
  padding: 10px !important;
}
#leftcli {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.0001) 100%
  );
  margin-top: 100px;
}
#nexttt {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.0001) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  margin-top: 100px;
}
.link_social:hover {
  color: black !important;
}
.link_social {
  background-color: white;
}
#ulsocial {
  padding-right: 50px !important;
}
.lisocial {
  font-size: 30px !important;
  border: none !important;
  color: #0072bc;
}
.lisocial2 {
  font-size: 30px !important;
  border: none !important;
  color: #e20547;
}
#myNavabajo {
  background-repeat: no-repeat !important;
  background-size: 100% !important;
  z-index: 10;
}
#divevent {
  background-image: url(../images/peleteria/events2.png) !important;
}
#divevent2 {
  background: #130d08 url(../images/peleteria/bgnos2.png) repeat !important;
}
#pevents {
  visibility: hidden !important;
}
.events1 {
  z-index: 1100 !important;
}
#diveve {
  border-right: 1.5px solid #ddd;
}
#imgeve {
  width: 450px;
  max-width: 300px;
  max-height: 300px;
}
#footerimg {
  background: url(../images/background/3.jpg) !important;
}
#rowfooter {
  text-align: justify;
}
#socialico {
  padding-left: 50px !important;
}
#colorcont {
  background-color: black !important;
}
#myNavizq {
  background-repeat: no-repeat !important;
  background-size: 100% !important;
  z-index: 100 !important;
}
#closeLeft {
  z-index: 1300;
  color: white !important;
}
#divpro {
  background-color: black !important;
  padding: 0px;
}
#h2pro {
  color: white !important;
}
#flecha {
  padding: 0px !important;
}
#bounce {
  padding: 0px !important;
}
#contflu {
  background-color: black !important;
  padding: 0px 0px 0px 0px !important;
}
#navul {
  background-color: black !important;
  padding: 0px !important;
}
#linav {
  margin-right: 200px !important;
}
#myModal {
  padding: 10px !important;
}
#modalheader {
  background-image: url("../images/background/madera2.png") !important;
}
#img01 {
  border-color: #442b2c !important;
}
#caption {
  height: 2px !important;
  color: black !important;
}
#border {
  border: none !important;
  width: 100% !important;
}
#closeMyModal {
  background-image: url("../images/background/madera2.png") !important;
}
#itempro {
  padding-bottom: 500px !important;
}
#divso {
  background-image: url(../images/peleteria/nosotros2.png);
  background-position: 75% 40%;
}
#imgnos2 {
  background: #130d08 url(../images/peleteria/bgnos2.png) repeat !important;
}
#psomos {
  padding: 30px !important;
  font-size: 20px !important;
}
#provalor {
  z-index: 1100 !important;
}
#h2valor {
  color: black !important;
}
.pvalor {
  text-align: justify !important;
  padding: 30px !important;
  font-size: 20px !important;
}
#imgso {
  width: 400px;
  padding-right: 21% !important;
}
#arr {
  height: 400px;
}

#header-nostros{
  margin: 0;
  padding: 0;
}

#imagen-header-nostros{
  width: 100%;
  height: auto;
  max-height: 700px;
}

.tam{
  font-weight: bold;
  text-align: center;
}