#headerTitle{
    font-size: 2rem !important;
    font-family: 'Alfa Slab One', cursive !important;
    letter-spacing: 10px;
}



.caja{
    border: 4px red solid;
}


@media (max-width: 575.98px) { 
    #headerTitle{
        font-size: 1rem !important;
        letter-spacing: 2px;
    }
 }

@media (min-width: 576px) { 

    #headerTitle{
        font-size: 2rem !important;
        letter-spacing: 6px;
    }
 }

@media (min-width: 768px) { 
    #headerTitle{
        font-size: 2.5rem !important;
        letter-spacing: 10px;
    }
 }

 @media (min-width: 992px) { 
    #headerTitle{
        font-size: 3rem !important;
    }
 }